---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=downtown%20denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 563492ad6f917000010000015ce4638be3ca48c7ae1138757dcebc91
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19991'
      X-Ratelimit-Reset:
      - '1621810738'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":3751010,"width":3712,"height":5568,"url":"https://www.pexels.com/photo/red-and-white-concrete-building-during-night-time-3751010/","photographer":"Colin
        Lloyd","photographer_url":"https://www.pexels.com/@colin-lloyd-2120291","photographer_id":2120291,"avg_color":"#5A4741","src":{"original":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg","large2x":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"}},{"id":3751009,"width":3322,"height":4983,"url":"https://www.pexels.com/photo/brown-concrete-building-during-night-time-3751009/","photographer":"Colin
        Lloyd","photographer_url":"https://www.pexels.com/@colin-lloyd-2120291","photographer_id":2120291,"avg_color":"#606966","src":{"original":"https://images.pexels.com/photos/3751009/pexels-photo[...]
