---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=downtown%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 563492ad6f917000010000015ce4638be3ca48c7ae1138757dcebc91
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19984'
      X-Ratelimit-Reset:
      - '1621810738'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":830891,"width":5158,"height":3434,"url":"https://www.pexels.com/photo/low-angle-photo-of-four-high-rise-curtain-wall-buildings-under-white-clouds-and-blue-sky-830891/","photographer":"Philipp
        Birmes","photographer_url":"https://www.pexels.com/@frankfurtpictures","photographer_id":278065,"avg_color":"#7E95AF","src":{"original":"https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg","large2x":"https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"}},{"id":6280698,"width":6000,"height":4000,"url":"https://www.pexels.com/photo/anonymous-ethnic-female-traveler-opening-door-of-cab-on-city-street-6280698/","photographer":"Uriel
        Mont","photographer_url":"https://www.pexels.com/@uriel-mont","photographer_id":6928101,"avg_color":"#727676","src":{"original":"https://images.pexels.com/photos/628069[...]
